$logo-font: 'Lobster', cursive;
$main-font: 'Open Sans', sans-serif;

$main-color: #484c55;
$second-color: #44c0c2;
$white-color: #fff;

$arrow-size: 51px;
$left-arrow: url(../img/slider-l.png) center center;
$right-arrow: url(../img/slider-r.png) center center;
$slider-shadow: 1px 1px 1px rgba(0, 0, 0, 0.69);
