doctype html
html
    head(lang="ru")
        include base/meta.pug
        include base/styles.pug
        title Time is Money - Test
    body
        .container
            include parts/header.pug
            .slider
                .slider__first
                    .slider__caption
                        h1.slider__heading This is a main heading
                        p.slider__desc Lorem Ipsum is simply dummy text<br> of the printing 
                        a.slider__button(href="#") Learn more
                .slider__second
                    .slider__caption
                        h1.slider__heading This is a main heading
                        p.slider__desc Lorem Ipsum is simply dummy text<br> of the printing 
                        a.slider__button(href="#") Learn more
                .slider__third
                    .slider__caption
                        h1.slider__heading This is a main heading
                        p.slider__desc Lorem Ipsum is simply dummy text<br> of the printing 
                        a.slider__button(href="#") Learn more
            .team.wrap
                h1.team__heading.heading#team The Team
                ul.team-list
                    li.team-list__member
                        img.team-list__photo(src="img/team1.jpg" alt="Member")
                        strong.team-list__name Adrian Thomas
                        span.team-list__position CEO &amp; Founder
                        p.team-list__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    li.team-list__member
                        img.team-list__photo(src="img/team2.jpg" alt="Member")
                        strong.team-list__name Narate Ketram
                        span.team-list__position Creative Director
                        p.team-list__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                    li.team-list__member
                        img.team-list__photo(src="img/team3.jpg" alt="Member")
                        strong.team-list__name Fernando Comet
                        span.team-list__position CEO &amp; Founder
                        p.team-list__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                    li.team-list__member
                        img.team-list__photo(src="img/team4.jpg" alt="Member")
                        strong.team-list__name Adedayo Saheed
                        span.team-list__position CEO &amp; Founder
                        p.team-list__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
            .plans
                .wrap
                    .plans__single
                        h2.plans__title Basic
                        strong.plans__price $5.01 / Month
                        ul.plans__features
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                        a.plans__link(href="#") Buy now
                    .plans__single
                        h2.plans__title Pro
                        strong.plans__price $10.01 / Month
                        ul.plans__features
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                        a.plans__link(href="#") Buy now
                    .plans__single
                        h2.plans__title Premium
                        strong.plans__price $20.01 / Month
                        ul.plans__features
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                            li.plans__feature Lorem ipsum
                        a.plans__link(href="#") Buy now    
            include parts/footer.pug
        include base/scripts.pug
