header {
    background: $white-color;
    overflow: hidden;
    .logo {
        float: left;
        font-family: $logo-font;
        font-size: 42px;
        padding-top: 20px;
        color: $second-color;
    }
    .main-menu {
        @include transition(all 0.4s ease);
        float: right;
        .main-menu__list {
            .main-menu__item {
                display: inline-block;
                .main-menu__link {
                    padding: 40px 25px;
                    display: inline-block;
                    color: $main-color;
                    text-decoration: none;
                    font-size: 15px;
                    position: relative;
                    @include transition(all 0.3s ease);
                    &:hover {
                        color: $second-color;
                        background: #f8f9fb;
                        &::after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            bottom: 0;
                            left: 0;
                            background: $second-color;
                        }
                    }
                }
            }
        }
    }
    .main-menu.fixed {
        position: fixed;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        background: $white-color;
        z-index: 1999;
        border-bottom: 2px solid #788492;
        .main-menu__link {
            padding: 20px 15px !important;
        }
    }
}
