footer
    .wrap 
        h1.footer__heading.heading#contact Contact Us
        .footer-info
            h2.footer-info__heading Get in touch with us
            p.footer-info__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            .footer-social
                a.footer-social__facebook(href="#")
                a.footer-social__twitter(href="#")
                a.footer-social__gplus(href="#")
            .footer__contacts
                | Posted by Dospel &amp; GanjaParker<br>
                | +XX-XXXX-XXXX-XX<br>
                a.footer__mail(href="mailto:info@mail.com") info@mail.com
        form.footer-form
            input.footer-form__name.footer-form__input(type="text" name="name" placeholder="Name" required)
            input.footer-form__email.footer-form__input(type="email" name="email" placeholder="Email" required)
            textarea.footer-form__message(placeholder="Message" required)
            button.footer-form__submit(type="submit") Send
            
