header.wrap
    .logo Author
    nav.main-menu
        ul.main-menu__list
            li.main-menu__item
                a.main-menu__link(href="#") Home
            li.main-menu__item
                a.main-menu__link(href="#") Service
            li.main-menu__item
                a.main-menu__link(href="#") Portfolio
            li.main-menu__item
                a.main-menu__link(href="#") Team
            li.main-menu__item
                a.main-menu__link(href="#") Blog
            li.main-menu__item
                a.main-menu__link(href="#") Contact
